<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}">Insert title here</title>
</head>

<body>
	<h1 th:text="${title}">title</h1>
	<h2 th:text="${complete}"></h2>
	<form method="post" action="#" th:action="@{/training/confirm}" th:object="${trainingForm}">

	<label for="menu">Menu:</label>
	<input id="menu" name="menu" type="text" th:value="*{menu}"><br>
	<div th:if="${#fields.hasErrors('menu')}" th:errors="*{menu}"></div>

	<input type="submit" value="確認ページへ">
	</form>
</body>

</html>