
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet">
</head>

<body>

	<div th:replace="~{block/header::headerA}"></div>
	<main role="main" class="container">

	<div class="starter-template">
		<h1 th:text="${title}">Bootstrap starter template</h1>
	</div>

	<div th:unless="${#strings.isEmpty(complete)}" >
		<div th:text="${complete}" class="alert alert-success" role="alert">
		A simple success alert—check it out!
		</div>
	</div>

	<form method="post" action="#" th:action="@{/training/confirm}" th:object="${trainingForm}">

	<div class="form-group">
		<label for="part">部位</label>
		<select name = part>
		<option value="胸" th:selected="*{part == 1}">胸</option>
		<option value="腕" th:selected="*{part == 2}">腕</option>
		<option value="肩" th:selected="*{part == 3}">肩</option>
		<option value="腹" th:selected="*{part == 4}">腹</option>
		<option value="脚" th:selected="*{part == 5}">脚</option>
		<option value="胸 + 腕" th:selected="*{part == 6}">胸 + 腕</option>
		<option value="腕 + 肩" th:selected="*{part == 7}">腕 + 肩</option>
		<option value="腹 + 脚" th:selected="*{part == 8}">腹 + 脚</option>
		</select><br>
	</div>
	<div class="text-danger mb-4" th:if="${#fields.hasErrors('part')}" th:errors="*{part}"></div>
	<div class="form-group">
		<label for="menu">メニュー</label>
		<input type="text" name="menu" class="form-control" id="menu" th:value="*{menu}"><br>
	</div>
	<div class="text-danger mb-4" th:if="${#fields.hasErrors('menu')}" th:errors="*{menu}"></div>

	<div class="form-group">
		<label for="datetime">登録日</label>
	 	<input type="datetime-local" name="datetime" class="form-control" id="datetime" th:value="*{datetime}"><br>
	 </div>
	 <div th:if="${#fields.hasErrors('datetime')}" th:errors="*{datetime}"></div>

	<button type="submit" class="btn btn-primary">確認する</button>

	</form>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="@{/js/jquery-slim.min.js}"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"  th:src="@{/js/popper.min.js}"></script>
    <script src="../../dist/js/bootstrap.min.js"  th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>
